.navbar-default {
	background: rgb(245,245,245);
	box-shadow: 4px 4px 6px rgb(224,224,224);
}

.navbar-icon {
	margin: 2px;
	cursor: pointer;
}

.navbar-item {
	color: rgb(25,118,210);
	cursor: pointer;
}